node_modules
.cursor
.vscode
.git
.github
.husky
.prettierignore
.prettierrc
.prettierignore
./**/node_modules
./**/.cursor
./**/.vscode
./**/.git
./**/.github
./**/.husky
./**/.prettierignore
./**/.prettierrc
./**/.prettierignore