---
import type { TagRow } from '@prj--personal-portfolio--v3/shared--db-schema';

import TagList from './TagList.astro';

interface Props {
    title: string;
    subheading?: string;
    tags?: TagRow[];
}

const { title, subheading, tags = [] } = Astro.props;
---

<section class="hero-banner">
    <h1 class="hero-banner__title">{title}</h1>
    {subheading && <p class="hero-banner__subheading">{subheading}</p>}
    {tags.length > 0 && <TagList tags={tags} />}
</section>
